:root {
    --main-color: #000;
    --primary-color: #c6c6c6;
    --secondary-color: #fff;
    --accent-red: #e32b2b;
    --accent-green: #00c514;
    --accent-yellow: #fec600;
}

@font-face {
    font-family: 'avalon';
    src: url('src/assets/fonts/avalon.woff2') format('woff');
    font-style: none;
}

body {
    padding: 0;
    margin: 0;
}

/*  font-size & font-weight
    16px = 400
    18px -> 21px = 500 
    22px -> 25px = 600
    26px = 700  */


a{
    text-decoration: none;
}

